@page "/profile"
@inherits LayoutComponentBase
@layout Layout.LayoutWithHeaderAndFooter
@inject NavigationManager Navigation
@rendermode InteractiveServer


<EditForm Model="@_userProfile"  OnInvalidSubmit="HandleInvalidSubmit">
    <DataAnnotationsValidator />
<div class="profile-container">
    <h2 class="profile-title" align="center">Личный кабинет</h2>
    <div class="form-group">
        <label for="firstName">Имя</label>
            <input type="text" class="form-control" id="firstName" placeholder="Ваше имя*" @bind="_userProfile.Name" />
            <ValidationMessage For="@(() => _userProfile.Name)" />
    </div>
    <div class="form-group">
        <label for="lastName">Фамилия</label>
            <input type="text" class="form-control" id="lastName" placeholder="Ваша фамилия*" @bind="_userProfile.LastName" />
            <ValidationMessage For="@(() => _userProfile.LastName)" />
    </div>
    <div class="form-group">
        <label for="patronymic">Отчество</label>
            <input type="text" class="form-control" id="patronymic" placeholder="Ваше отчество*" @bind="_userProfile.MiddleName" />
            <ValidationMessage For="@(() => _userProfile.MiddleName)" />
    </div>
    <div class="form-group">
        <label for="login">Логин</label>
            <input type="text" class="form-control" id="login" placeholder="Ваш логин*" @bind="_userProfile.Login" />
            <ValidationMessage For="@(() => _userProfile.Login)" />
    </div>
    @code {
        private string _password;
        private bool _showPassword = false;

        private void TogglePasswordVisibility()
        {
            _showPassword = !_showPassword;
        } 
    }
   <div class="form-group">
    <label for="password">Пароль</label>
        <div class="input-group" >
                <input type="@(_showPassword ? "text" : "password")" class="form-control" id="password" placeholder="Ваш пароль" @bind="_userProfile.Password" />
            <div style="padding: 10px 10px;">
            <button class="password-toggle"
                    title="Просмотреть/скрыть пароль"
                    @onclick="TogglePasswordVisibility">
                @if (_showPassword)
                {
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.46992 15.2799C9.27992 15.2799 9.08992 15.2099 8.93992 15.0599C8.11992 14.2399 7.66992 13.1499 7.66992 11.9999C7.66992 9.60992 9.60992 7.66992 11.9999 7.66992C13.1499 7.66992 14.2399 8.11992 15.0599 8.93992C15.1999 9.07992 15.2799 9.26992 15.2799 9.46992C15.2799 9.66992 15.1999 9.85992 15.0599 9.99992L9.99992 15.0599C9.84992 15.2099 9.65992 15.2799 9.46992 15.2799ZM11.9999 9.16992C10.4399 9.16992 9.16992 10.4399 9.16992 11.9999C9.16992 12.4999 9.29992 12.9799 9.53992 13.3999L13.3999 9.53992C12.9799 9.29992 12.4999 9.16992 11.9999 9.16992Z" fill="#292D32" />
                        <path d="M5.60009 18.51C5.43009 18.51 5.25009 18.45 5.11009 18.33C4.04009 17.42 3.08009 16.3 2.26009 15C1.20009 13.35 1.20009 10.66 2.26009 8.99998C4.70009 5.17998 8.25009 2.97998 12.0001 2.97998C14.2001 2.97998 16.3701 3.73998 18.2701 5.16998C18.6001 5.41998 18.6701 5.88998 18.4201 6.21998C18.1701 6.54998 17.7001 6.61998 17.3701 6.36998C15.7301 5.12998 13.8701 4.47998 12.0001 4.47998C8.77009 4.47998 5.68009 6.41998 3.52009 9.80998C2.77009 10.98 2.77009 13.02 3.52009 14.19C4.27009 15.36 5.13009 16.37 6.08009 17.19C6.39009 17.46 6.43009 17.93 6.16009 18.25C6.02009 18.42 5.81009 18.51 5.60009 18.51Z" fill="#292D32" />
                        <path d="M12.0001 21.02C10.6701 21.02 9.37006 20.75 8.12006 20.22C7.74006 20.06 7.56006 19.62 7.72006 19.24C7.88006 18.86 8.32006 18.68 8.70006 18.84C9.76006 19.29 10.8701 19.52 11.9901 19.52C15.2201 19.52 18.3101 17.58 20.4701 14.19C21.2201 13.02 21.2201 10.98 20.4701 9.81C20.1601 9.32 19.8201 8.85 19.4601 8.41C19.2001 8.09 19.2501 7.62 19.5701 7.35C19.8901 7.09 20.3601 7.13 20.6301 7.46C21.0201 7.94 21.4001 8.46 21.7401 9C22.8001 10.65 22.8001 13.34 21.7401 15C19.3001 18.82 15.7501 21.02 12.0001 21.02Z" fill="#292D32" />
                        <path d="M12.6901 16.2699C12.3401 16.2699 12.0201 16.0199 11.9501 15.6599C11.8701 15.2499 12.1401 14.8599 12.5501 14.7899C13.6501 14.5899 14.5701 13.6699 14.7701 12.5699C14.8501 12.1599 15.2401 11.8999 15.6501 11.9699C16.0601 12.0499 16.3301 12.4399 16.2501 12.8499C15.9301 14.5799 14.5501 15.9499 12.8301 16.2699C12.7801 16.2599 12.7401 16.2699 12.6901 16.2699Z" fill="#292D32" />
                        <path d="M1.99994 22.7502C1.80994 22.7502 1.61994 22.6802 1.46994 22.5302C1.17994 22.2402 1.17994 21.7602 1.46994 21.4702L8.93994 14.0002C9.22994 13.7102 9.70994 13.7102 9.99994 14.0002C10.2899 14.2902 10.2899 14.7702 9.99994 15.0602L2.52994 22.5302C2.37994 22.6802 2.18994 22.7502 1.99994 22.7502Z" fill="#292D32" />
                        <path d="M14.53 10.2199C14.34 10.2199 14.15 10.1499 14 9.99994C13.71 9.70994 13.71 9.22994 14 8.93994L21.47 1.46994C21.76 1.17994 22.24 1.17994 22.53 1.46994C22.82 1.75994 22.82 2.23994 22.53 2.52994L15.06 9.99994C14.91 10.1499 14.72 10.2199 14.53 10.2199Z" fill="#292D32" />
                    </svg>
                }
                else
                {
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.9999 16.3299C9.60992 16.3299 7.66992 14.3899 7.66992 11.9999C7.66992 9.60992 9.60992 7.66992 11.9999 7.66992C14.3899 7.66992 16.3299 9.60992 16.3299 11.9999C16.3299 14.3899 14.3899 16.3299 11.9999 16.3299ZM11.9999 9.16992C10.4399 9.16992 9.16992 10.4399 9.16992 11.9999C9.16992 13.5599 10.4399 14.8299 11.9999 14.8299C13.5599 14.8299 14.8299 13.5599 14.8299 11.9999C14.8299 10.4399 13.5599 9.16992 11.9999 9.16992Z" fill="#292D32" />
                        <path d="M12.0001 21.02C8.24008 21.02 4.69008 18.82 2.25008 15C1.19008 13.35 1.19008 10.66 2.25008 8.99998C4.70008 5.17998 8.25008 2.97998 12.0001 2.97998C15.7501 2.97998 19.3001 5.17998 21.7401 8.99998C22.8001 10.65 22.8001 13.34 21.7401 15C19.3001 18.82 15.7501 21.02 12.0001 21.02ZM12.0001 4.47998C8.77008 4.47998 5.68008 6.41998 3.52008 9.80998C2.77008 10.98 2.77008 13.02 3.52008 14.19C5.68008 17.58 8.77008 19.52 12.0001 19.52C15.2301 19.52 18.3201 17.58 20.4801 14.19C21.2301 13.02 21.2301 10.98 20.4801 9.80998C18.3201 6.41998 15.2301 4.47998 12.0001 4.47998Z" fill="#292D32" />
                    </svg>
                }
            </button>
            </div>
            <button class="go-to-collections-button" title="Перейти к моим коллекциям">
                <svg width="34" height="31" viewBox="0 0 37 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18.5002 33.2521L15.9022 30.8871C6.67516 22.52 0.583496 17.0017 0.583496 10.2292C0.583496 4.71083 4.91933 0.375 10.4377 0.375C13.5552 0.375 16.5472 1.82625 18.5002 4.11958C20.4531 1.82625 23.4452 0.375 26.5627 0.375C32.081 0.375 36.4168 4.71083 36.4168 10.2292C36.4168 17.0017 30.3252 22.52 21.0981 30.905L18.5002 33.2521Z" fill="#560606" />
                </svg>
            </button>
               
    </div>
            <ValidationMessage For="@(() => _userProfile.Password)" />
</div>
    <div class="form-group">
        <div class="save-button-container">
            <button class="save-button" @onclick="ConfirmSaveChanges">Сохранить</button>
        </div>
        @if (!string.IsNullOrEmpty(successMessage))
        {
            <p style="text-align: center; margin-top: -30px; color: @messageColor;">@successMessage</p>
        }
        @if (showConfirmationModal && _isFormValid)
        {
                <div class="modal-overlay">
                    <div class="modal-content">
                    <h4>Сохранить изменения?</h4>
                    <div class="modal-buttons">
                            <button id="confirm-save" class="confirm-button" @onclick="SaveChanges">Сохранить</button>
                        <button id="cancel-save" class="cancel-button" @onclick="CancelSave">Отмена</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
</EditForm>
